<div>
    <md-data-table-container>
        <table md-data-table md-progress="deferred">
            <thead>
            <tr>
                <th name="World"></th>
                <th name="Version"></th>
                <th name="Zone"></th>
                <th name="IPAddr"></th>
                <th name="Status"></th>
                <th name="CreatedAt"></th>
                <th name="UpdatedAt"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in exa.store.examples.items">
                <td>{{item.world}}</td>
                <td>{{item.jarVersion}}</td>
                <td>{{item.zone}}</td>
                <td>{{item.ipAddr}}</td>
                <td>{{item.status}}</td>
                <td>{{item.createdAt}}</td>
                <td>{{item.updatedAt}}</td>
                <td>
                    <md-button ng-if="item.status=='not_exists'" class="md-raised md-primary" ng-click="exa.startServer($index)">Start</md-button>
                    <md-button ng-if="item.status=='exists'"class="md-raised" ng-click="exa.restartServer($index, 'start')">Start</md-button>
                    <md-button ng-if="item.status=='exists'"class="md-raised" ng-click="exa.restartServer($index, 'reset')">Restart</md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-button class="md-raised" ng-if="exa.store.examples.hasNext" ng-click="exa.readMoreList(20)">Read more</md-button>
</div>
